body{
    border-radius: 1rem;
    border-color: black;
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
     width: 200px;
    height: 200px;
    border-radius: 100px;
}
  
}



p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    font-family:'Times New Roman', Times, serif;
}

h5{
    font-family:'Courier New', Courier, monospace;
}

h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
}

i{
    font-size: 1rem;
}

